---
layout: default
---

{% if page.title %}
<header class="header-page" style="background-image: url('{{ site.url }}{{ site.baseurl }}/img/title-background2.png')">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  <div class="page-heading">
	    <h1><span class="while">while</span>(<span class="var">{{ page.title }}</span>)</h1>
	    {% if page.subtitle %}
	    <hr class="small">
	    <span class="page-subheading">{{ page.subtitle }}</span>
	    <h1> <h1/>
	    {% endif %}
	  </div>
    </div>
  </div>
</header>
{% endif %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {{ content }}
	{% if page.comments %}
    <div class="disqus-comments">
	  {% include disqus.html %}
    </div>
	{% endif %}
  </div>
</div>
