---
layout: default
---

<header class="header-post">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h1>{{ page.title }}</h1>
        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
	      
	{% if page.image != null %}
		<p align="center">
			<img src="{{page.image}}" alt="{{page.imageText}}"  width="500"/>
		</p>
  	  {% endif %} 
	      
	 {% if page.localimage != null  %}
		<p align="center">
			<img src="{{site.url}}/{{page.localimage}}" alt="{{page.imageText}}"  width="500"/>
		</p>
  	  {% endif %} 
	      

{% if page.subtitle %}
  	  <h3 class="page-subtitle">
  	    {{ page.subtitle }}
  	  </h3>
  	  {% endif %} 
      </div>
     </div>
  </div>
</header>

<article>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  {{ content }}
	</div>
  </div>
</article>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul class="pager blog-pager">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; {{page.previous.title}}</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{page.next.title}} &rarr;</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="row disqus-comments">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <form method="POST" action="https://api.staticman.net/v2/entry/aidan-duggan/whilegaming/master/comments">
	  <input name="options[redirect]" type="hidden" value="{{ page.url | prepend: site.url | replace: '//', '/' }}">
	  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
	  <label>Name: </label>
	  <input name="fields[name]" type="text">
	  <br>
	  <label>E-mail: </label>
	  <input name="fields[email]" type="email">
	  <br>
	  <label>Comment: </label>  
	  <textarea name="fields[message]"></textarea>
	  <br>
  <button type="submit">Submit Comment</button>
  <br>
  Comments are moderated so will take time to appear.
  <br>
</form>
  </div>
</div>

{% if site.data.comments.[page.slug] %}
{% assign comments = site.data.comments.[page.slug] | sort %}
  <div >
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
{% for comment in comments reversed %}
  {% assign commentData = comment[1] %}
    <p> <h6>{{ commentData.name }}</h6> said</p>
    <p style="margin-top: 18px;background: #F5F5F5;padding: 15px>{{ commentData.message }}</p>
    <p>{{ commentData.date | date: ' %-d %B %Y @ %r' }}</p>
    <br/>
{% endfor %}
    </div>
  </div>
{% endif %}
